body{
	background-color: black;
}

#simon{
	display: inline-block;
	width:80%;
	color: white;
	text-align: center;
	font-size: 6em;
	margin: 0;
}
h2{
	text-align: center;
	color: white;
	width:80%;
}
#play{
	display: block;
	height: 50px;
	border-radius: 10%;
	margin-left: 20%;
	background-color: blanchedalmond;
}
#beginningSequence{
	width:80%;
	text-align: center;

}
.countdown{
	color: white;
}
#red, #yellow{
	margin-left: 35%;
}
#blue, #green{
	margin-right: 20%;
}
.tile{
	border: 2px solid black;
	height: 200px;
	display:inline-block;
	width: 15%;
}
#board{
	width:80%;
	display:inline-block;
	margin: 0 auto;
}
#red{
	border-top-left-radius: 100%;
	border-bottom-left-radius: 10%;
	border-top-right-radius: 10%;
	background-color: red;
}

#yellow{
	border-bottom-right-radius: 10%;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 100%;
	background-color: yellow;
}
#blue{
	border-top-left-radius: 10%;
	border-bottom-right-radius: 10%;
	border-top-right-radius: 100%;
	background-color: blue;
}
#green{
	border-bottom-right-radius: 100%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	background-color: green;
}
#turn{
	width:80%;
	text-align: center;
}
.display{
	color: white;
}
#computerTurn, #playerTurn, #playerWon, #playerLost{
	display: none;
}
#moves{
	text-align: center;
	width: 80%;
}
.faster-animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

