body{
	background-color: white;
}

#simon{
	display: inline-block;
	width:80%;
	color: black;
	text-align: center;
	font-size: 6em;
	margin: 0;
}
h3{
	text-align: center;
	color: black;
	width:80%;
}
#play{
	display: block;
	height: 50px;
	border-radius: 10%;
	margin-left: 20%;
}
#red, #yellow{
	margin-left: 35%;
}
#blue, #green{
	margin-right: 20%;
}
.tile{
	border: 2px solid black;
	height: 200px;
	display:inline-block;
	width: 15%;
}
	#board{
	width:80%;
	display:inline-block;
	margin: 0 auto;
}
#red{
	border-top-left-radius: 100%;
	border-bottom-left-radius: 10%;
	border-top-right-radius: 10%;
	background-color: red;
}

#yellow{
	border-bottom-right-radius: 10%;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 100%;
	background-color: yellow;
}
#blue{
	border-top-left-radius: 10%;
	border-bottom-right-radius: 10%;
	border-top-right-radius: 100%;
	background-color: blue;
}
#green{
	border-bottom-right-radius: 100%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	background-color: green;
}
#turn{
	width:80%;
	text-align: center;
}
.display{
	color: black;
}
#computerTurn, #playerTurn, #playerWon, #playerLost{
	display: none;
}
#moves{
	text-align: center;
	width: 80%;
}
